
<div class= "container-buddies container">
  <div class= "text-center">
    <h1>All the buddies</h1>
    <p>Find the best buddy for you event</p>
  </div>


  <div class="all-cards-buddies">
    <% @buddies.each do |buddy| %>
        <div class="card-buddy col-12 col-lg-4">
          <%= image_tag("buddies/photo_lucas.jpeg") %>
          <div class="card-buddy-infos">
            <div>
              <h2><%= buddy.user.name %></h2>
              <p><%= buddy.description %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
