<div class="banner-buddies">
  <%# <div class= "container-buddies container"> %>
    <div class= "text-center buddies">
      <h1>Find the best buddy for your event</h1>
      <div class="dropdown category">
        <%# <p>Find the best buddy for you event</p> %>
      </div>
    </div>


    <div class="all-cards-buddies">
      <% @buddies.each do |buddy| %>
          <div class="card-buddy">
            <%= image_tag("buddies/photo_lucas.jpeg") %>
            <div class="card-buddy-infos">
              <div>
                <h2><%= buddy.user.name %></h2>
                <p><%= buddy.description %></p>
              </div>
            </div>
          </div>
      <% end %>

    </div>
  <%# </div> %>
</div>
