
<div class="banner-buddies">
  <%# <div class= "container-buddies container"> %>
    <%# <div class= "text-center buddies">
      <h1><strong></strong>Find the best buddy for your event</strong></h1>
      <div class="dropdown category">
        <%# <p>Find the best buddy for you event</p> %>
      <%# </div> %>
    <%# </div> %>

<div class= "container-buddies container"  data-controller="cards">
  <div class= "title-margin">
    <h1 class="h1-size">Find the best buddy for your event</h1>
    <p>Select among all the following buddies the one who will come with you to your event. All our buddies' profiles are verified</p>

    <%# <p>Find the best buddy for you event</p> %>
  </div>
  <div class="all-cards-buddies">
    <% @buddies.each do |buddy| %>
        <div class="card-buddy">
          <%= cl_image_tag(buddy.photo.key) %>
          <div class="card-buddy-infos">
           <h2><%= buddy.user.name %></h2>
            <div class="buddy.description">
              <p><%= buddy.description %></p>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to "choose", buddy_path(buddy), class:"btn-choose text-center"%>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
