<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.prismic.io/yubo/6118791b-2978-4f39-bc06-0d5d43cd6e93_LargeGraphics.webp?auto=compress,format&rect=0,0,1600,900&w=1680&h=945);">
  <div class="container banner">
      <h1><strong>GET FRIENDS</strong></h1> <br>
      <h1><strong>GET REAL</strong></h1> <br>
      <h1><strong>EASILY</strong></h1> <br>
      <h1><strong>FROM EVERYWHERE</strong></h1> <br>
      <%# <h1>BuddyMe finds you the <strong>best friends</strong> for <strong>life</strong>!</h1> %>
      <%# <p>Explore the app and find your best partner for your event.</p> %>
    <%= link_to "LET'S GO", new_user_session_path, class:"btn-home" %>

  </div>
</div>
