
<div class= "container-buddies container"   data-controller="cards">
  <div class= "text-center">
    <h1>Get ready for your next event</h1>
    <p>here's the buddy you chose</p>
  </div>
  <div class="all-cards-buddies">
  <div class="event-cards">
    <% @events.each do |event| %>
    <div class="card-product">
      <%#= image_tag("link") %>
      <div class="card-product-infos">
        <%= event.buddy.user.name %>
        <%= cl_image_tag event.buddy.photo.key %>
      </div>
      <% end %>
  </div>
      </div>
    </div>
      <div class="button-home text-center">
        <%= link_to "Back to the buddy list", buddies_path, class:"btn-home" %>

</div>
