
<div class= "container-buddies container"   data-controller="cards">
  <div class= "text-center">
    <h1>Get ready for your next event</h1>
    <p>here's the buddy you chose</p>
  </div>
  <div class="all-cards-buddies">
   <% @events.each do |event| %>
    <div class="card-buddy">
      <%= cl_image_tag event.buddy.photo.key %>
          <div class="card-buddy-infos">
            <%= event.buddy.user.name %>
          </div>
        </div>
      <% end %>
  </div>
</div>
      <div class="button-home text-center">
        <%= link_to "Back to the buddy list", buddies_path, class:"btn-home" %>

</div>
