.card-buddy {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
}

.card-buddy > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-buddy h3 {
  margin: 10px;
}

.card-buddy p {
  font-size: 14px;
  opacity: .9;
  margin-left: 10px;
}



.card-buddy-infos{
  padding-bottom: 10px;
}

// .card-buddy .card-buddy-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }
