
.container-show {
  display: flex;
  justify-content: center;
}


.profile {
  position: absolute;
  background-color: #fee30c;
  margin-top: 20px;
  padding: 20px;
}


.name {
  font-weight: bolder;
}



.description {
  font-style: italic;
}

.btn-resa {
  background-color: black;
  color:#fee30c;
  padding: 9px 16px;
  margin-bottom: 2px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.btn-resa:hover {
  background: rgb(13, 13, 13);
  color: white;
}
