.card-buddy {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
}

.card-buddy > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-buddy h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

.card-buddy p {
  font-size: 12px;
  opacity: .7;
  margin-left: 10px;
}

.btn-choose {
  // text-align: center;
  background: radial-gradient(circle, rgba(0,182,253,1) 0%, rgba(254,227,12,1) 64%);
  padding: 6px 16px;
  margin-bottom: 2px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.btn-choose:hover {
  background: rgb(13, 13, 13);
  color: white;
}

.card-buddy-infos{
  padding-bottom: 10px;
}

// .card-buddy .card-buddy-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }
