
.container-show {
  display: flex;
  justify-content: center;
}

.profile {
  position: absolute;
  background-color: #fee30c;
  margin-top: 20px;
  // margin-top: 50px;
  // width: 70%;
  // height: 500px;
  // width: 70%;
  padding: 20px;
  border-radius: 16px;
}
.profile:hover {
  background: #9a8805;
  color: black;
  transition: 0.5s;

}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.image {
  display: flex;
  border-radius: 16px;
  // position: relative;
  // margin: 0px auto;
  // margin-left: -65px;
  // margin-top: -15px;
  //width: 350px;
  //height: 350px;
  //background-size:;

}
.center-image {
  margin: 0 auto;
  justify-content: center;
}
.img {
  border-radius: 16px;
}

.name {
  // margin-top: -513px;
  // margin-left: 460px;
  font-weight: bolder;
}


.age {
  // margin-top: 100px;
}


.city {
  // margin-top: 200px;
}


.description {
// margin-top: -300px;
font-style: italic;

}
.buttons {
display: flex;
justify-content: space-between;
}

.btn-back {
  background-color: black;
  color:#fee30c;
  padding: 8px 14px;
  //margin-bottom: 2px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;

}
.btn-resa {
  background-color: black;
  color:#fee30c;
  padding: 8px 14px;
  //margin-bottom: 2px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.btn-resa:hover {
  background: rgb(13, 13, 13);
  color: white;

}
.btn-back:hover {
  background: rgb(13, 13, 13);
  color: white;

}
