.container-buddies {
  background-color: rgb(250, 250, 249);
}

.all-cards-buddies{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

// .h1 {
//   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
// }
