// .dashboard-container {
//   border: 1px solid black;
//   // margin: 1rem;
//   padding: 2rem 2rem;
//   text-align: center;
// }

.cards-dash {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;

}

.container-dash {
  display: flex;
  justify-content: center;
  margin: 18px;
  margin-top: 30px;


}


.content-profile {
  // display: inline-block;
  // border: 1px solid;
  border-radius: 6px;
  padding: 8px;
  vertical-align: text-top;
  background-color: white;
  // width: 50%;
  // margin-top: 20px;
  // position: sticky;
}

.content-resa {
  // display: inline-block;
  // border: 1px solid;
  border-radius: 6px;
  padding: 8px;
  vertical-align: text-top;
  background-color: white;
  // width: 50%;
  // margin-top: 20px;
}

.me {
margin: 10px;
// position: sticky;
// width: 600px !important;
// top: 100px;
height: 40%;
text-align: center;
font-weight: bold;
// position: sticky;
// top: 110px;
}


.me-buddy {
  margin: 10px;
// position: sticky;
// width: 600px !important;
// top: 0;
height: 100%;
text-align: center;
font-weight: bold;
border-color: black;
}

.infos {
  text-align: center;
  font-weight: bold;

}

.bouton1-profil-user {
  position: relative;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.bouton2-profil-user {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description-user {
  text-align: center;
  font-weight: bold;
  width : 300px;
  align-items: center;
  justify-content: center;
}

.all-cards-buddies-resa{
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card-buddy-infos-dash {
  padding: 10px;
}

.contour-buddy {
  margin: 30px;
}

// .title-profil-user {
//   height: 15px;
//   background-color: color;
//   color: white;
// }

.h2-user-profile {
  background-color: black;
  color: white;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 0.5px;

}
