.buddy-form {
  background-color: #d5d5d4;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 1266px;
}

// .btn-new {
//   background-color: black;
//   color:#fee30c;
//   font-weight: bold;
// }
