.buddy-form {
  background-color: #d5d5d4;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 1266px;
}

.btn-new {
  // text-align: center;
  // background: radial-gradient(circle, rgba(0,182,253,1) 0%, rgba(254,227,12,1) 64%);
  background-color:#fee30c;
  color:black;
  padding: 9px 16px;
  margin-bottom: 2px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.btn-new:hover {
  background: rgb(13, 13, 13);
  color: white;
}
