.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color:black
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}

.logo p{
  flex-direction: row;
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 8px;
}
