.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;
  background: rgb(239, 247, 14);
  // background: linear-gradient(90deg, rgba(131,58,180,1) 1%, rgba(253,29,129,1) 38%, rgba(221,177,22,1) 87%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color:black
}

.navbar {
  position: absolute;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}

.logo p{
  flex-direction: row;
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 8px;
}
