.h1-size{
  font-size: 50px;
}

.title-margin {
  text-align: center !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background: radial-gradient(circle, rgba(254,227,12,1) 0%, rgba(254,227,12,1) 64%);
  // background: black;
}

.btn:hover {
  background: rgba(254,227,12,1);
  color:white;
}

// .btn {
//   background-color:#fee30c;
//   color:black;
//   padding: 6px 16px;
//   margin-bottom: 2px;
//   border-radius: 10px;
//   text-decoration: none;
//   font-weight: 600;
// }

// .btn:hover {
//   background: rgb(13, 13, 13);
//   color: white;
// }
