.h1-size{
  font-size: 50px;
}

.title-margin {
  text-align: center !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background: radial-gradient(circle, rgba(0,182,253,1) 0%, rgba(254,227,12,1) 64%);
}


// .btn-new {
//   background: radial-gradient(circle, rgba(0,182,253,1) 0%, rgba(254,227,12,1) 64%);
//   font-weight: bolder;
// }
